@use '../../theme.module' as theme;
@use "sass:map";

.textarea {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: map.get(theme.$dark, 'text', 'default');
  z-index: 1;
  line-height: 1.5;
}

.textareaWrapper {
  display: flex;
  position: relative;
  width: 600px;
  min-height: calc(300px + 20px + 2px); // textarea height + padding + border
  overflow: hidden;
}

.highlightedText {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
  z-index: 2;
  overflow: auto;
  padding: 10px;
  line-height: 1.5;
  border: 1px solid transparent;
  height: 300px;
  width: calc(600px - 20px - 2px); // textarea width - padding - border
}