$light: (
        text: (
                default: #061312,
                50: #061312,
                100: #0c2725,
                200: #184e49,
                300: #25746e,
                400: #319b92,
                500: #3dc2b7,
                600: #64cec5,
                700: #8bdad4,
                800: #b1e7e2,
                900: #d8f3f1,
                950: #ecf9f8,
        ),
        background: (
                default: #f3fcfb,
                50: #051413,
                100: #0a2925,
                200: #14524a,
                300: #1f7a70,
                400: #29a395,
                500: #33ccba,
                600: #5cd6c8,
                700: #85e0d6,
                800: #adebe3,
                900: #d6f5f1,
                950: #ebfaf8,
        ),
        primary: (
                default: #4ac9c5,
                50: #061413,
                100: #0c2726,
                200: #174f4d,
                300: #237673,
                400: #2f9d99,
                500: #3bc4c0,
                600: #62d0cc,
                700: #89dcd9,
                800: #b0e8e6,
                900: #d8f3f2,
                950: #ebf9f9,
        ),
        secondary: (
                default: #ac91de,
                50: #0b0614,
                100: #150c27,
                200: #2b174f,
                300: #402376,
                400: #552f9d,
                500: #6b3bc4,
                600: #8862d0,
                700: #a689dc,
                800: #c4b0e8,
                900: #e1d8f3,
                950: #f0ebf9,
        ),
        accent: (
                default: #c96ed4,
                50: #120614,
                100: #250c27,
                200: #49174f,
                300: #6e2376,
                400: #922f9d,
                500: #b73bc4,
                600: #c562d0,
                700: #d489dc,
                800: #e2b0e8,
                900: #f1d8f3,
                950: #f8ebf9,
        ),
);
$dark: (
        text: (
                default: #ecf9f8,
                50: #061312,
                100: #0c2725,
                200: #184e49,
                300: #25746e,
                400: #319b92,
                500: #3dc2b7,
                600: #64cec5,
                700: #8bdad4,
                800: #b1e7e2,
                900: #d8f3f1,
                950: #ecf9f8,
        ),
        background: (
                default: #030c0b,
                50: #051413,
                100: #0a2925,
                200: #14524a,
                300: #1f7a70,
                400: #29a395,
                500: #33ccba,
                600: #5cd6c8,
                700: #85e0d6,
                800: #adebe3,
                900: #d6f5f1,
                950: #ebfaf8,
        ),
        primary: (
                default: #36b5b0,
                50: #061413,
                100: #0c2726,
                200: #174f4d,
                300: #237673,
                400: #2f9d99,
                500: #3bc4c0,
                600: #62d0cc,
                700: #89dcd9,
                800: #b0e8e6,
                900: #d8f3f2,
                950: #ebf9f9,
        ),
        secondary: (
                default: #3c216e,
                50: #0b0614,
                100: #150c27,
                200: #2b174f,
                300: #402376,
                400: #552f9d,
                500: #6b3bc4,
                600: #8862d0,
                700: #a689dc,
                800: #c4b0e8,
                900: #e1d8f3,
                950: #f0ebf9,
        ),
        accent: (
                default: #872b91,
                50: #120614,
                100: #250c27,
                200: #49174f,
                300: #6e2376,
                400: #922f9d,
                500: #b73bc4,
                600: #c562d0,
                700: #d489dc,
                800: #e2b0e8,
                900: #f1d8f3,
                950: #f8ebf9,
        ),
);


$linearPrimarySecondary: linear-gradient(270deg, #4ac9c5, #ac91de);
$linearPrimaryAccent: linear-gradient(270deg, #4ac9c5, #c96ed4);
$linearSecondaryAccent: linear-gradient(270deg, #ac91de, #c96ed4);
$radialPrimarySecondary: radial-gradient(#4ac9c5, #ac91de);
$radialPrimaryAccent: radial-gradient(#4ac9c5, #c96ed4);
$radialSecondaryAccent: radial-gradient(#ac91de, #c96ed4);
