@use "sass:map";

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  svg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}